*{
    color: white;
}
.modal{
    background-color: black;
    padding: 12% 12%;
    position: relative;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.number-input{
    width: 60px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    color:black;
}

.button-1{
    background-color: #4CAF50; /* Green */
}

.classic-border-top{
    position: absolute;
    top: -2%!important;
    left: -5%!important;
    width: 110%;
}

.classic-border-bottom{
    position: absolute;
    bottom: -4%!important;
    left: -5% !important;
    width: 110%;
    transform: rotate(180deg);
}

.button-1, .button-2{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
    margin-right: 10px;
}

.button-2{
    background-color: #50500a; /* Red */
}

.text-input{
    width: 80%;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    color:black;
}

.not-highlighted{
    background-color: grey;
    color: white;
}

@media screen and (max-width: 413px) {
    .classic-border-top{
        top: 10%;
    }
    .classic-border-bottom{
        bottom: -10%;
    }
}